<!DOCTYPE html>
<html>
  <head>
    <title>Repti!</title>
  </head>
  <body>
    <h1>Repti!</h1>
    <ul id="task_list">
      {{#each tasks}}
        <li id="task-{{ this.id }}">
          <form method="POST" action="tasks/{{ this.id }}">
            <details>
              <summary>
                {{ this.name }}: {{ this.daysAgo }}
                <button type="submit" name="task_date" value="today">✓</button>
              </summary>
              {{#if this.doneDay}}
                last done on {{ this.doneDay }}
                <button type="submit" name="task_date" value="reset">×</button>
              {{else}}
                not done yet
              {{/if}}
            </details>
          </form>
        </li>
      {{/each}}
      <li><form action="tasks" method="post"><input id="new_task_entry" name="task_name" /></form></li>
    </ul>
  </body>
</html>
